
# Security
NEXTAUTH_SECRET=generate_a_long_random_string
NEXTAUTH_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/eduglobal"

# AI
API_KEY=your_gemini_api_key_here

# Email (STUB)
SMTP_HOST=smtp.mailtrap.io
SMTP_USER=user
SMTP_PASS=pass
